<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes do Usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2"
        >Nome: <span class="mat-h3">Fulano da Silva</span></span
      >
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Email: <span class="mat-h3">teste</span></span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2"
        >Telefone: <span class="mat-h3">(11) 91234-5678</span></span
      >
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2"
        >Endereço:
        <span class="mat-h3">Rua das Flores, 42, São Paulo - SP</span></span
      >
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Ativo: <span class="mat-h3">Não</span></span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2"
        >Função: <span class="mat-h3">Desenvolvedor</span></span
      >
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2"
        >Data de Cadastro: <span class="mat-h3">20/08/2023</span></span
      >
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
