<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes do Usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2"
        >Nome: <span class="mat-h3">{{ user.nome }}</span></span
      >
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2"
        >Email: <span class="mat-h3">{{ user.email }}</span></span
      >
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2"
        >Telefone: <span class="mat-h3">{{ user.telefone | phone }}</span></span
      >
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2"
        >Endereço: <span class="mat-h3">{{ user.endereco | address }}</span></span
      >
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2"
        >Status: <span class="mat-h3">{{ user.ativo | status }}</span></span
      >
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2"
        >Função: <span class="mat-h3">{{ user.funcao }}</span></span
      >
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2"
        >Data de Cadastro: <span class="mat-h3">{{ user.dataCadastro | date : "dd/MM/yyyy" }}</span></span
      >
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
